:root {
  --flex-display: flex;
  --flex-direction-row: row;
  --flex-1: 1;
  --sidebar-bg-color: aquamarine;
  --propertyCard-bg-color: antiquewhite;
}

.homepage, .card-section {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  flex: var(--flex-1);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
}

.propertyCard {
  background-color: var(--propertyCard-bg-color);
  flex: var(--flex-1);
}

.custom-sidebar {
  height: 37.5rem; /* 600px/16 */
  width: 25rem; /* 400px/16 */
}

.css-1nrlq1o-MuiFormControl-root, .card-section {
  flex-direction: var(--flex-direction-row);
}

.card-section {
  gap: 1.25rem; /* 20px/16 */
  flex-wrap: wrap;
}